<h1 align="center">Products</h1>

<% @products.each do |product| %>
  <h2>Name: <%=product.name %></h2>
  <h2 style="color:red;">Price: <%= product.price%></h2>
  <h3>Description: <%=product.description %></h3>
  <br>
  <br>
<a href="/products/<%= product.id %>">More info</a>
<% end %>